.banner-2
	padding: 17px 0
	background: no-repeat center
	background-size: cover
	&-inner
		padding-top: 140px
		padding-bottom: 163px
		background: no-repeat center
		background-size: cover
		color: $blue
		+r(768)
			padding-top: 99px
			padding-bottom: 70px
		+r(480)
			padding-top: 272px
			padding-bottom: 18px
	&-info
		max-width: 535px
		padding-left: 43px
		box-sizing: border-box
		+r(768)
			padding-left: 4px
		.h4
			font-weight: 900
			color: $red
			text-transform: uppercase
			+r(480)
				line-height: 28px
				font-size: 25px
		.h2
			margin-top: 15px
			margin-bottom: 15px
			font-size: 38px
			line-height: 41px
			font-weight: 900
			+r(480)
				font-size: 20px
		p
			margin-bottom: 10px
			font-size: 21px
			line-height: 27px
			font-weight: 600
			+r(480)
				line-height: 24px
				font-size: 18px
			&:last-of-type
				font-size: 16px
				line-height: 24px
				font-weight: 500
				+r(480)
					line-height: 22px
					font-size: 15px

.values
	padding-top: 151px
	padding-bottom: 96px
	+r(992)
		padding-top: 108px
		padding-bottom: 51px
	+r(750)
		padding-top: 68px
		padding-bottom: 41px
	+r(480)
		padding-top: 63px
		padding-bottom: 37px
	&__inner
		justify-content: space-around
		+r(750)
			flex-direction: column
			align-items: center
	.value
		position: relative
		max-width: 350px
		padding-bottom: 0
		text-align: center
		flex-direction: column
		+r(992)
			margin: 0 20px
		+r(750)
			margin: 0
			margin-bottom: 20px
		+r(480)
			position: relative
			max-width: 405px
			min-height: 90px
			padding-top: 3px 
			flex-direction: row
			text-align: left
		&:first-child
			+r(992)
				margin-left: 0
		&:last-child
			+r(992)
				margin-right: 0
			+r(750)
				margin-bottom: 0
		&__image
			position: relative
			height: 140px	
			+r(480)
				margin-right: 3vw
				min-width: 90px
				height: 90px
		&__icon
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			+r(480)
				position: relative
				max-width: 90px
				max-height: 90px
		&__info
			flex-direction: column
		&__name
			margin-top: 15px
			margin-bottom: 10px
			color: $red
			text-transform: uppercase
			justify-content: center
			align-items: center
			+r(992)
				height: 48px
			+r(750)
				margin: 0
			+r(480)
				height: auto
				margin-bottom: 3px
				justify-content: flex-start
				align-items: flex-start
		p
			color: $dark_blue
			line-height: 23px
			font-size: 17px
			font-weight: 500

.print
	padding-top: 90px
	padding-bottom: 100px
	background-color: $grey
	+r(1260)
		padding-top: 46px
		padding-bottom: 70px
	+r(480)
		padding-top: 24px
		padding-bottom: 55px
	.container
		padding: 0
		max-width: 1203px
	.flex
		flex-wrap: wrap
		+r(1260)
			flex-direction: column
			align-items: center
	&__text
		max-width: 502px
		padding-left: 45px
		padding-right: 20px
		box-sizing: border-box
		+r(1260)
			max-width: 635px
			padding: 0
		+r(750)
			padding: 0 20px
		+r(480)
			padding: 0 15px
		&-1
			padding-top: 96px
			+r(1260)
				margin-bottom: 56px
				order: 2
			+r(480)
				margin-bottom: 20px
		&-2
			padding: 89px 40px 0 20px
			+r(1260)
				margin-bottom: 33px
				order: 4
			+r(480)
				margin-top: 2px
				margin-bottom: 28px
		&-3
			padding-top: 123px
			+r(1260)
				order: 6
		.h2
			margin-bottom: 15px
			text-transform: uppercase
			line-height: 33px
			color: $blue
			+r(480)
				margin-bottom: 9px
				font-size: 21px
				line-height: 24px
		p
			line-height: 24px
			color: #000
		.blue_light
			margin-bottom: 10px
			font-size: 18px
			font-weight: 500
			color: $blue_light
	&__window
		position: relative
		max-width: 701px
		box-sizing: border-box
		+r(1260)
			margin: 0
			padding: 0
		&-1
			margin-bottom: 39px
			+r(1260)
				max-width: 714px
				margin-bottom: 20px
				order: 1
			+r(480)
				margin-bottom: 12px
		&-2
			margin-bottom: 2px
			+r(1260)
				order: 3
		&-3
			+r(1260)
				order: 5
		&-phone
			position: absolute
			top: 182px
			right: -11px
			+r(1260)
				display: none
		.windowp
			width: 100%
			&-1
				+r(1260)
					display: none
			&-768
				display: none
				+r(1260)
					display: block

.schedule
	padding: 50px 55px
	background: no-repeat center
	background-size: cover
	+r(768)
		padding: 43px 28px 60px
	+r(480)
		padding: 26px 14px 30px
	.container
		padding: 0 25px
		+r(480)
			padding: 0 13px	
		&-schedule
			position: relative
			max-width: 1290px
			margin: 0 auto
			padding-top: 80px
			background-color: $blue
			text-align: center
			+r(750)
				padding-top: 40px
	.h2
		margin-bottom: 15px
		font-size: 43px
		text-transform: uppercase
		font-weight: 700
		+r(480)
			margin-bottom: 10px
			font-size: 27px
	p
		margin: 0 auto
		max-width: 820px
		font-size: 21px
		font-weight: 500
		line-height: 30px
		+r(480)
			font-size: 16px
			line-height: 24px
	&__graphic
		position: relative
		height: 382px
		overflow: hidden
		+r(768)
			height: 350px
		+r(480)
			height: 200px
	&__image
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		+r(768)
			width: 200vw
		+r(480)
			width: 150vw
		

.icons-analytics
	padding-top: 120px
	padding-bottom: 34px
	background-color: $red_a
	text-align: center
	+r(992)
		padding-top: 86px
		padding-bottom: 45px
	+r(480)
		padding-top: 46px
		padding-bottom: 50px
	.h2
		margin-bottom: 81px
		text-transform: uppercase
		+r(480)
			margin-bottom: 29px
			font-size: 27px
			line-height: 30px
	&__block
		flex-wrap: wrap
		justify-content: space-evenly
		+r(992)
			margin: 0 12px
	&__icon
		position: relative
		width: 330px
		margin-bottom: 66px
		+r(992)
			margin-bottom: 45px
		+r(480)
			margin-bottom: 18px
		p
			font-size: 19px
			font-weight: 500
			line-height: 24px
	&__image
		height: 55px
	&__img
		position: absolute
		left: 50%
		transform: translateX(-50%)

.partners-analytics
	padding: 113px 0 110px
	color: $blue
	text-align: center
	+r(1260)
		padding: 70px 0 93px
	+r(750)
		padding: 50px 0
	.h2
		margin-bottom: 0
		text-transform: uppercase
		+r(750)
			font-size: 27px
			line-height: 26px
	.flex
		max-width: 1023px
		margin: 47px auto 0
		flex-wrap: wrap
		justify-content: center
		+r(1260)
			max-width: 683px
		+r(750)
			max-width: 315px
			margin-top: 15px
		+r(480)
			max-width: 285px
	.partner
		position: relative
		margin: 3px 
		height: 244px
		background-color: $grey
		transition: box-shadow 0.3s ease
		+r(1260)
			width: 49%
			height: 244px
		+r(750)
			width: 100%
			margin: 0
			margin-bottom: 10px
		&:last-child
			+r(750)
				margin-bottom: 0
		&:hover
			box-shadow: 0 0 10px 1px $pink
			.partner-image
			span
				color: $blue
			p
				color: $red
		&-image
			position: absolute
			top: 155px
			left: 50%
			transform: translateX(-50%)
		&__google
			width: 32.74%
		&__twitter
			width: 32.74%
		&__facebook
			width: 32.74%
		&__indeed
			width: 24.41%
			height: 252px
		&__google_analytics
			width: 24.41%
			height: 252px
		&__bing
			width: 24.41%
			height: 252px
		&__linkedin
			width: 24.41%
			height: 252px
		span
			position: absolute
			top: 41px
			left: 50%
			transform: translateX(-50%)
			font-size: 26px
			line-height: 27px
			font-weight: 700
			color: $blue_grey
			transition: color 0.3s ease
			opacity: 0.51
		p
			position: absolute
			top: 107px
			left: 50%
			transform: translateX(-50%)
			font-size: 13px
			font-weight: 600
			color: $blue
			transition: color 0.3s ease
			white-space: nowrap
			letter-spacing: 0.12em
			opacity: 0.37