.banner-1
	padding-top: 226px
	padding-bottom: 201px
	text-align: center
	background: no-repeat center
	background-size: cover
	+r(768)
		padding-top: 187px
		padding-bottom: 171px
	+r(480)
		padding-top: 71px
		padding-bottom: 76px
	.h1
		text-transform: uppercase
		line-height: 64px
		text-shadow: 0 0 50px $blue
		z-index: 5
		+r(768)
			line-height: 54px
		+r(480)
			line-height: 36px

.phrase
	position: relative
	padding: 74px 0
	text-align: center
	background-color: $red
	&-1
		+r(750)
			padding: 50px 0
		+r(480)
			padding: 36px 0
		.h1
			+r(480)
				margin-bottom: 22px
				line-height: 24px
	.h2
		text-align: center
		margin-bottom: 25px
		text-transform: uppercase
	.btn
		margin: 0 auto
	&-after
		content: ''
		position: absolute
		bottom: -46px
		left: 50%
		transform: translateX(-50%)
		border: 23px solid transparent
		border-top: 23px solid $red
		cursor: pointer
		z-index: 50
		&-blue
			border-top: 23px solid $blue
	&-blue
		background-color: $blue
	&-description
		padding-top: 90px
		padding-bottom: 332px
		background: url('../img/phrase.png') no-repeat center bottom
		background-size: cover
		+r(768)
			padding-top: 101px
			padding-bottom: 266px
		+r(480)
			padding-top: 61px
			padding-bottom: 212px
		.container
			max-width: 615px
		p
			font-size: 18px
			font-weight: 500
			line-height: 27px
			color: #000
			+r(480)
				padding: 0 10px
				font-size: 16px
				line-height: 25px

.features
	padding: 110px 0 136px
	+r(992)
		padding: 79px 0 92px
	+r(750)
		padding: 53px 0 72px
	+r(480)
		padding: 43px 0 47px
	.h2
		margin-bottom: 50px
		color: $blue
		text-transform: uppercase
		text-align: center
		+r(992)
			margin-bottom: 35px
		+r(750)
			margin-bottom: 20px
		+r(480)
			font-size: 28px
	&__block 
		justify-content: space-around
		+r(750)
			flex-direction: column
			align-items: center
	.feature
		position: relative
		max-width: 305px
		flex-direction: column
		align-items: center
		text-align: center
		+r(992)
			padding: 0 5px
		+r(750)
			padding: 0
			margin-bottom: 20px
		+r(480)
			flex-direction: row
			max-width: 405px
			text-align: left
			align-items: flex-start
		&:last-child
			+r(750)
				margin-bottom: 0
		&__image
			position: relative
			min-width: 140px
			min-height: 130px
			+r(480)
				margin-top: 40px
				min-width: 85px
				min-height: 90px
				margin-right: 2vw
		&__icon
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			+r(480)
				position: relative
				max-width: 75px
				max-height: 85px
		&__info
			margin-top: 20px
			margin-bottom: 45px
			flex-direction: column
			align-items: center
			+r(750)
				margin-top: 10px
				margin-bottom: 30px
		&__name
			margin-bottom: 10px
			color: $red
			text-transform: uppercase
			+r(480)
				margin: 5px 0
		&__text
			color: $dark_blue
			line-height: 20px
			+r(480)
				font-size: 15px
		.viewmore
			position: absolute
			bottom: 0
			padding-bottom: 4px
			font-weight: 600
			color: $blue
			text-transform: uppercase
			border-bottom: 1px solid $blue
			white-space: nowrap
			transition: border-bottom 0.3s ease
			transition: color 0.3s ease
			+r(480)
				left: 95px
				transform: none
			&:hover
				color: $red
				border-bottom: 1px solid $red

.icons
	padding: 51px 58px 50px 52px
	background: no-repeat center
	background-size: cover
	+r(992)
		padding: 51px 47px 51px 39px
	+r(480)
		padding: 35px 15px 37px 14px
	.container
		padding: 0 8px
		&-icons
			max-width: 100%
			padding: 100px 15px 121px
			background-color: $blue
			text-align: center
			+r(992)
				padding: 64px 0 87px
			+r(480)
				padding: 28px 0 30px 
	.h2
		margin-bottom: 15px
		text-transform: uppercase
		font-weight: 600
		+r(480)
			margin-bottom: 13px
			line-height: 26px
	p
		font-size: 17px
		+r(480)
			margin: 0
			font-size: 15px
			line-height: 18px
	.flex
		justify-content: space-evenly
		+r(992)
			flex-direction: column
		&__out
			margin-top: 70px
			+r(992)
				display: flex
				justify-content: center
			+r(480)
				margin-top: 30px
	.icon
		position: relative
		height: 75px
		margin-right: 20px
		text-align: left
		align-items: center
		line-height: 24px
		box-sizing: border-box
		+r(992)
			flex-direction: row
			justify-content: flex-start
			margin-right: 0
			margin-bottom: 24px
			max-width: 100%
		+r(480)
			height: 60px
			margin-bottom: 32px
			line-height: 18px
		&:last-child
			margin-right: 0
			+r(992)
				margin-bottom: 0
		&__image
			margin-right: 20px
			+r(480)
				width: 58px
				margin-right: 10px
		&__img
			width: 100%
			min-width: 55px
			height: 100%
		&__text
			text-transform: uppercase
		p
			+r(992)
				margin: 0 50px

.partners
	padding: 145px 0
	color: $blue
	text-align: center
	+r(992)
		padding: 95px 0 77px
	+r(650)
		padding: 47px 0
	.h2
		margin-bottom: 20px
		text-transform: uppercase
		+r(650)
			font-size: 27px
			line-height: 24px
	p
		font-size: 17px
	.flex
		max-width: 921px
		margin: 32px auto 0
		flex-wrap: wrap
		justify-content: center
		+r(992)
			max-width: 615px
		+r(650)
			max-width: 300px
			margin-top: 30px
	.partner
		position: relative
		margin: 3px
		height: 197px
		background-color: $grey
		transition: box-shadow 0.3s ease
		+r(992)
			width: 49%
		+r(650)
			width: 100%
			margin: 0
			margin-bottom: 12px
		&:last-child
			+r(650)
				margin-bottom: 0
		&:hover
			box-shadow: 0 0 10px 1px $pink
			.partner-image
				filter: grayscale(0%)
			p
				color: $red
		&-image
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			filter: grayscale(100%)
			transition: filter 0.3s ease
		&__facebook
			width: 32.67%
		&__instagram
			width: 32.67%
		&__twitter
			width: 32.67%
		&__google
			width: 24.34%
		&__bing
			width: 24.34%
		&__linkedin
			width: 24.34%
		&__indeed
			width: 24.34%
		p
			position: absolute
			bottom: 25px
			left: 50%
			transform: translateX(-50%)
			font-size: 13px
			font-weight: 600
			color: $blue
			transition: color 0.3s ease
			text-transform: uppercase
			white-space: nowrap
			letter-spacing: 0.12em
			opacity: 0.37
