---
title: Main
---

{% extends "./layouts/_layout.njk" %}

{% block content %}

  {% set values = [
    {"number": "1",
     "name": "Powerful optimization",
     "text": "Automate any campaign entity across search and social ad networks."
    },
    {"number": "2",
     "name": "More control",
     "text": "Maintain control over optimizations with custom tasks, look back periods, and configurations."
    },
    {"number": "3",
     "name": "Continuos monitoring",
     "text": "Always have eyes on your campaign performance, even when you´re not in front of a computer."  
    }
  ]%}

  {% set icons = [
    {"number": "1",
     "text": "Real-time behavioral targeting"
    },
    {"number": "2",
     "text": "Easily manage and prioritize overlapping audience"
    },
    {"number": "3",
     "text": "Recommended audiences to identify new revenue-driving opportunities"
    },
    {"number": "4",
     "text": "Compatible with mobile web and responsive sites"
    },
    {"number": "5",
     "text": "Developer tools and APIs for  maximun flexibility"
    },
    {"number": "6",
     "text": "Upload audiences for custom  targeting"
    },
    {"number": "7",
     "text": "Performance measurement  you can trust"
    },
    {"number": "8",
     "text": "Visual editor for easy updates"
    },
    {"number": "9",
     "text": "Get up and running quicly"
    }
  ]%}

   {% set partners = [
    {"name": "google",
     "head": "Campaign Performance",
     "text": "Google adwords"
    },
    {"name": "twitter",
     "head": "Campaign Performance",
     "text": "Twitter Ads"
    },
    {"name": "facebook",
     "head": "Demographic Performance",
     "text": "Facebook Ads"
    },
    {"name": "indeed",
     "head": "Campaign Performance",
     "text": "Indeed Sponsored Jobs"
    },
    {"name": "google_analytics",
     "head": "Search Team Performance",
     "text": "Google Analytics"
    },
    {"name": "bing",
     "head": "Keywords Performance",
     "text": "Bing Ads"
    },
    {"name": "linkedin",
     "head": "Account Performance",
     "text": "Linkedin Ads"
    }
  ]%}

	{% include "./partials/_header.njk" %}

  <main>

    <section class="banner-2" style="background-image: url('img/background.png');">
      <div class="banner-2-inner" style="background-image: url('img/banner_analytics.png');">
        <div class="container">
          <div class="banner-2-info">
            <h4 class="h4">
              Analytics
            </h4>
            <h2 class="h2">
              Optimized experiences, powered by data
            </h2>
            <p>
              Create and deliver the best digital experience for each customer across device.
            </p>
            <p>
              All insights at hand. See how your job ads attract talent - in real-time. Track results in one clear, easy to use dashboard. Share it with your team with just a single-click.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="phrase phrase-1 phrase-blue">
      <div class="container">
        <h2 class="h2">
          The creative agency for employers
        </h2>
        <button class="btn btn_color">
          Contact us now
        </button>
      </div>
      <div class="phrase-after phrase-after-blue phrase-analytics"></div>
    </section>

    <section class="values">
      <div class="container">
        <div class="values__inner flex">
          {% for value in values %}
            <div class="value value-{{value.number}}">
              <div class="flex">
                <h3 class="h3">{{value.name}}</h3>
              </div>
              <p>{{value.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>      
    </section>

    <section class="print">
     <div class="container">
       <div class="flex">
        <div class="print__text print__text-1">
          <h2 class="h2">
            Cross-network reports  and performance  dashboards
          </h2>
          <p class="blue_light">
            Spend more time analyzing data instead of combining Excel spreadsheets.
          </p>
          <p>
            Visualize your campaign and ad performance across multiple networks with our intuitive dashboards. Each table can be exported for multi-channel performance analysis or cross-network campaign level reports.
          </p>
        </div>
        <div class="print__window print__window-1">
          <img src="img/print_1.png" alt="print" class="windowp windowp-1">
          <img src="img/print_1_768.png" alt="print" class="windowp windowp-768">
          <img src="img/print_1-phone.png" alt="print-phone" class="print__window-phone">
        </div>
        <div class="print__window print__window-2">
          <img src="img/print_2.png" alt="print" class="windowp windowp-2">
        </div>
        <div class="print__text print__text-2">
          <h2 class="h2">
            Scheduled reports and custom reports
          </h2>
          <p class="blue_light">
            Stay informed of campaign performance in your inbox with recurring custom reports.
          </p>
          <p>
            The report center allows you to stay up to date on campaign performance with recurring reports emailed directly to you and your stakeholders. Create customized on-demand or scheduled reports with the exact daya your need to see.
          </p>
        </div>
        <div class="print__text print__text-3">
          <h2 class="h2">
            Task management
          </h2>
          <p class="blue_light">
            Manage all of your automated tasks from one holistic view.
          </p>
          <p>
            Track all of your automated tasks in the Automate dashboard. Our trend graphs provide visual insights into actions are taking place in your account and the interactive tables allow you to review and update your automated tasks as needed.
          </p>
        </div>
        <div class="print__window print__window-3">
          <img src="img/print_3.png" alt="print" class="windowp windowp-3">
        </div>
       </div>
     </div>
    </section>

    <section class="schedule" style="background-image: url('img/bg_icons.png');">
      <div class="container-schedule">
        <div class="container">
          <h2 class="h2">
            Auto schedule
          </h2>
          <p>
            Our AutoSchedule technology will post your job ad at the perfect moment, suitable to your target group´s online behaviour. AutoSchedule for optimal impact.
          </p>
        </div>
        <div class="schedule__graphic"></div>
      </div> 
    </section>

    <section class="icons-analytics">
      <div class="container">
        <h2 class="h2">
          More about ora worldwide
        </h2>
        <div class="flex">
          {% for icon in icons %}
             <div class="icon icon-{{icon.number}}">
              <p>{{icon.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="partners-analytics">
      <div class="container">
        <h2 class="h2">
          Access the right metrics, all the time.
        </h2>
        <div class="flex">
          {% for partner in partners %}
            <a href="#" class="partner partner__{{partner.name}}">
              <span>{{partner.head}}</span>
              <p>{{partner.text}}</p>
              <img class="partner-image" src="img/partners/{{partner.name}}.png" alt={{partner.name}}>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>

  </main>
  
  {% include "./partials/_footer.njk" %}
  {% include "./partials/_headerFixed.njk" %}
  {% include "./partials/_scroll.njk" %}
{% endblock %}