---
title: Creative
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  
  {% set socials = [
    {"name": "instagram"},
    {"name": "twitter"},
    {"name": "adzuna"},
    {"name": "bingads"},
    {"name": "linkedin"},
    {"name": "monster"},
    {"name": "unbounce"},
    {"name": "hubspot"},
    {"name": "facebook"},
    {"name": "indeed"},
    {"name": "googleadwords"}
  ]%}

  {% set items = [
    {"number": "1",
     "name": "Understand",
     "text": "We explore, we ask, we listen. And we couple what we learn with our experience to build up a real understanding of what´s needed."
    },
    {"number": "2",
     "name": "Engage",
     "text": "We engage with people, making sure we're saying exactly the right thing to them in exactly the right way."
    },
    {"number": "3",
     "name": "Inspire",
     "text": "Through great work, we inspire people to act. Whether that's to apply, to grow, to learn or to perform."
    }
  ]%}

   {% set features = [
    {"number": "1",
     "img": "morecol-1.png",
     "name": "Marketing & Strategy",
     "text1": "We want your digital marketing to be as engaging and relevant as possible.",
     "text2": "It doesn't matter if you're launching a new product or positioning your brand - our strategy remains the same. We conceive. We build. We get results. Simple and with confidence."
    },
    {"number": "2",
     "img": "morecol-2.png",
     "name": "Social Influence",
     "text1": "Social Media is central to the online customer experience for over 79% of Irish businesses.",
     "text2": "It offers great way to interact with or to gain, an audience. Use it to build brand awareness, create positive sentiment and drive engagement. Not to mention watching some great cat videos and gifs...mow."
    },
    {"number": "3",
     "img": "morecol-3.png",
     "name": "Search and channel marketing",
     "text1": "Search powers the web. It's the largest provider of traffic there is.",
     "text2": "The way it works has drastically changed. Our focus on organic SEO & Adwords coupled with content an conversion rate optimisation is at the heart of every strategy we create. We drive relevante traffic to your site and then make sure it converts."
    }
  ]%}

  {% include "./partials/_header.njk" %}

  <main>

    <section class="banner-3" style="background-image: url('img/background.png');">
      <div class="banner-3-inner" style="background-image:">
        <div class="container">
          <div class="banner-3-info">
            <p class="p1">
              creativity
            </p>
            <p class="p2">
              Connect to Recruitment Marketing Tools and Channels you already use and Love
            </p>
            <p class="p3">
              Unbounce integrates with the tools you already use for your marketing. Capture leads on your landing page and send then directly to MailChimp, Salesforce, Marketo, AWever, Constant Contact and more. Easily add Google Analytics, KISSmetrics and other conversion tools like live chats and surveys. You can even bolt your landing page onto your WordPress website, blog and Facebook page.
            </p>
          </div>
          <div class="banner-3-quote">
            <div class="banner-3-quote__inner flex">
              <div class="banner-3-quote__image">
                <img class="banner-3-quote__img" src="img/quote.png" alt="quote">
              </div>
              <div class="banner-3-quote-info">
                <p>
                  "I used the Unbounce &amp; Mailchimp integration for my signup form. I used to pay my web people $800 to connect a form to MailChimp. You saved me $800!"
                </p>
                <h6 class="h6">
                  Joe Glenn, Neofera
                </h6>  
              </div>
            </div> 
          </div>
          <div class="banner-3-partners">
            {% for social in socials %}
              <a href="#" class="logo {{social.name}}">
                <img src="img/partners/icon-{{social.name}}.png" alt={{social.name}} class="{{social.name}}-icon">
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section class="phrase phrase__creative">
      <div class="container">
        <h2 class="h2">
          Try ora worldwide
        </h2>
        <div class="phrase__form flex">
          <input type="email" class="input" placeholder="Your email">
          <button class="btn-creative">
            Try it
          </button>
        </div>
      </div>
      <div class="phrase-after phrase-creative" data-phrase></div>
    </section>

    <section class="conversion">
      <div class="container">
        <h2 class="h2">
          A/B Test your ideas and increases conversions
        </h2>
        <p>
          Testing lets you find out which messaging your customers relate to best - giving you more insight and opportunity for renenue. A/B testing your campaigns is easy with Unbounce. Simply put your ideas into a new landing page variation, click "publish" and your test is live and collecting real-time data. Now you can let your customers decide what´s best, while you avoid assumptions, and your business benefits from informed decisions. 
        </p>
        <div class="conversion__block flex">
          <div class="conversion__image conversion-red">
            <img class="conversion__img" src="img/conversion_red.png" alt="conversion">
          </div>
          <div class="conversion__image conversion-blue">
            <img class="conversion__img" src="img/conversion_blue.png" alt="conversion">
          </div>
          <div class="conversion__image-text">
            Conversion rate  
          </div>
        </div>
      </div>
    </section>

    <section class="rainbow" style="background-image: url('img/background.png');">
      <div class="container">
        <div class="flex">
          {% for item in items %}
            <div class="rainbow-x rainbow-{{item.number}}">
              <h2 class="h2">{{item.name}}</h2>
              <p>{{item.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="phrase-question">
      <div class="container">
        <h2 class="h2">What sort of things can we help with?</h2>
        <p>We're full-service agency, specialising in areas ranging from recruitment advertising, graduate communication and digital marketing to social media strategy, market reasearch and employer branding. In short there's not much we can't help you with.</p>
      </div>
    </section>

    <section class="morecolumns">
      <div class="container">
        <div class="morecolumns__wrapper flex">
          {% for feature in features %}
            <div class="morecolumns__outer">
              <div class="morecolumns__inner flex">
                <div class="morecolumns__image">
                  <img src="img/{{feature.img}}" alt="column-image" class="morecolumns__img">
                </div>
                <div class="morecolumns__info flex">
                  <h3 class="h3">{{feature.name}}</h3>
                  <p class="p1">{{feature.text1}}</p>
                  <p class="p2">{{feature.text2}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="preview">
      <div class="container">
        <h2 class="h2">
          Connect with customers across all as networks from one location
        </h2>
      </div>
      <img src="img/create_preview.png" alt="preview" class="preview-image">
    </section>
  </main>
  {% include "./partials/_footer.njk" %}
  {% include "./partials/_headerFixed.njk" %}
  {% include "./partials/_scroll.njk" %}
{% endblock %}