---
title: Creative
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  
  {% set icons = [
    {"numb": "1",
     "name": "Customized reporting"
    },
    {"numb": "2",
     "name": "Personal campaign reviews"
    },
    {"numb": "3",
     "name": "Agency managment"
    }
  ]%}

  {% include "./partials/_header.njk" %}

  <main>

    <section class="banner-3" style="background-image: url('img/background.png');">
      <div class="banner-3-inner">
        <div class="container">
          <div class="banner-3-info">
            <p class="p1">
              creativity
            </p>
            <p class="p2">
              Connect to Recruitment Marketing Tools and Channels you already use and Love
            </p>
            <p class="p3">
              Unbounce integrates with the tools you already use for your marketing. Capture leads on your landing page and send then directly to MailChimp, Salesforce, Marketo, AWever, Constant Contact and more. Easily add Google Analytics, KISSmetrics and other conversion tools like live chats and surveys. You can even bolt your landing page onto your WordPress website, blog and Facebook page.
            </p>
          </div>
          <div class="banner-3-quote">
            <div class="banner-3-quote-inner">
              <p>
                "I used the Unbounce &amp; Mailchimp integration for my signup form. I used to pay my web people $800 to connect a form to MailChimp. You saved me $800!"
              </p>
              <h6 class="h6">
                Joe Glenn, Neofera
              </h6>  
            </div> 
          </div>
          <div class="banner-3-partners">
            <a href="#" class="logo instagram">
              <img src="img/partners/icon-instagram.png" alt="instagram" class="instagram-icon">
            </a>
            <a href="#" class="logo twitter">
              <img src="img/partners/icon-twitter.png" alt="twitter" class="twitter-icon">
            </a>
            <a href="#" class="logo adzuna">
              <img src="img/partners/icon-adzuna.png" alt="adzuna" class="adzuna-icon">
            </a>
            <a href="#" class="logo bingads">
              <img src="img/partners/icon-bing.png" alt="bingads" class="bingads-icon">
            </a>
            <a href="#" class="logo linkedin">
              <img src="img/partners/icon-linkedin.png" alt="linkedin" class="linkedin-icon">
            </a>
            <a href="#" class="logo monster">
              <img src="img/partners/icon-monster.png" alt="monster" class="monster-icon">
            </a>
            <a href="#" class="logo unbounce">
              <img src="img/partners/icon-unbounce.png" alt="unbounce" class="unbounce-icon">
            </a>
            <a href="#" class="logo hubspot">
              <img src="img/partners/icon-hubspot.png" alt="hubspot" class="hubspot-icon">
            </a>
            <a href="#" class="logo facebook">
              <img src="img/partners/icon-facebook.png" alt="facebook" class="facebook-icon">
            </a>
            <a href="#" class="logo indeed">
              <img src="img/partners/icon-indeed.png" alt="indeed" class="indeed-icon">
            </a>
            <a href="#" class="logo googleadwords">
              <img src="img/partners/icon-googleadwords.png" alt="googleadwords" class="googleadwords-icon">
            </a>  
          </div>
        </div>
      </div>
    </section>

    <section class="phrase phrase__creative">
      <div class="container">
        <h2 class="h2">
          Try ora worldwide
        </h2>
        <div class="flex">
          <input type="email" class="input" placeholder="Your email">
          <button class="btn-creative">
            Try it
          </button>
        </div>
      </div>
      <div class="phrase-after phrase-creative"></div>
    </section>

    <section class="conversion">
      <div class="container">
        <h2 class="h2">
          A/B Test your ideas and increases conversions
        </h2>
        <p>
          Testing lets you find out which messaging your customers relate to best - giving you more insight and opportunity for renenue. A/B testing your campaigns is easy with Unbounce. Simply put your ideas into a new landing page variation, click "publish" and your test is live and collecting real-time data. Now you can let your customers decide what´s best, while you avoid assumptions, and your business benefits from informed decisions. 
        </p>
        <div class="flex">
          <div class="conversion-image conversion-red">
            <img src="img/conversion_red.png" alt="conversion" class="image-1">
          </div>
          <div class="conversion-image conversion-blue">
            <img src="img/conversion_blue.png" alt="conversion" class="image-2">
          </div>
          <div class="conversion-image-text">
            Conversion rate  
          </div>
        </div>
      </div>
    </section>

    <section class="rainbow"  style="background-image: url('img/rainbow_bg.png');">
      <div class="container">
        <div class="flex">
          <div class="rainbow-x rainbow-1">
            <h2 class="h2">Understand</h2>
            <p>We explore, we ask, we listen. And we couple what we learn with our experience to build up a real understanding of what´s needed.</p>
          </div>
          <div class="rainbow-x rainbow-2">
            <h2 class="h2">Engage</h2>
            <p>We engage with people, making sure we're saying exactly the right thing to them in exactly the right way.</p>
          </div>
          <div class="rainbow-x rainbow-3">
            <h2 class="h2">Inspire</h2>
            <p>Through great work, we inspire people to act. Whether that's to apply, to grow, to learn or to perform. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="phrase-question">
      <div class="container">
        <h2 class="h2">What sort of things can we help with?</h2>
        <p>We're full-service agency, specialising in areas ranging from recruitment advertising, graduate communication and digital marketing to social media strategy, market reasearch and employer branding. In short there's not much we can't help you with.</p>
      </div>
    </section>

    <section class="morecolumns">
      <div class="container">
        <div class="flex">
          <div class="morecolumns__outer">
            <div class="morecolumns__inner morecolumns-1">
              <img src="img/morecol-1.png" alt="column-image" class="image image-1">
              <h3 class="h3">Marketing &amp; Strategy</h3>
              <p class="p1">We want your digital marketing to be as engaging and relevant as possible.</p>
              <p class="p2">It doesn't matter if you're launching a new product or positioning your brand - our strategy remains the same. We conceive. We build. We get results. Simple and with confidence.</p>
            </div>
          </div>
          <div class="morecolumns__outer">
            <div class="morecolumns__inner morecolumns-2">
              <img src="img/morecol-2.png" alt="column-image" class="image image-2">
              <h3 class="h3">Social Influence</h3>
              <p class="p1">Social Media is central to the online customer experience for over 79% of Irish businesses.</p>
              <p class="p2">It offers great way to interact with or to gain, an audience. Use it to build brand awareness, create positive sentiment and drive engagement. Not to mention watching some great cat videos and gifs...mow.</p>
            </div>
          </div>
          <div class="morecolumns__outer">
            <div class="morecolumns__inner morecolumns-3">
              <img src="img/morecol-3.png" alt="column-image" class="image image-3">
              <h3 class="h3">Search and channel marketing</h3>
              <p class="p1">Search powers the web. It's the largest provider of traffic there is.</p>
              <p class="p2">The way it works has drastically changed. Our focus on organic SEO &amp; Adwords coupled with content an conversion rate optimisation is at the heart of every strategy we create. We drive relevante traffic to your site and then make sure it converts.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="preview">
      <div class="container">
        <h2 class="h2">
          Connect with customers across all as networks from one location
        </h2>
      </div>
      <img src="img/create_preview.png" alt="preview" class="preview-image">
    </section>
  </main>
  {% include "./partials/_footer.njk" %}
  {% include "./partials/_headerFixed.njk" %}
  {% include "./partials/_scroll.njk" %}
{% endblock %}