---
title: Home
---
{% extends "./layouts/_layout.njk" %}

{% block content %}
  
  {% set features = [
    {"numb": "1",
     "name": "Creativity",
     "text": "Creating a successful interactive marketing campaign starts with an idea. We love working collaboratively to come up with creative new strategies that turn ideas into success for our clients."
    },
    {"numb": "2",
     "name": "Analytics",
     "text": "We´re lucky. In the world of interactive marketing, we´re never at a loss for analytics. We´ve developed the best tools and methodology to ensure success."
    },
    {"numb": "3",
     "name": "Results",
     "text": "Our combination of creativity and analytics would fall flat without accountability. We know that for our clients, that means increasing leads and sale online."
    }
  ]%}

  {% set icons = [
    {"numb": "1",
     "name": "Customized reporting"
    },
    {"numb": "2",
     "name": "Personal campaign reviews"
    },
    {"numb": "3",
     "name": "Agency managment"
    }
  ]%}

  {% set partners = [
    {"class": "facebook",
     "img": "facebook_color.png",
     "name": "Facebook ADS"
    },
    {"class": "instagram",
     "img": "instagram_color.png",
     "name": "Instagram ADS"
    },
    {"class": "twitter",
     "img": "twitter_color.png",
     "name": "Twitter ADS"
    },
    {"class": "google",
     "img": "google_color.png",
     "name": "Google adwords"
    },
    {"class": "bing",
     "img": "bing_color.png",
     "name": "Bing ads"
    },
    {"class": "linkedin",
     "img": "linkedin_color.png",
     "name": "Linkedin ads"
    },
    {"class": "indeed",
     "img": "indeed_color.png",
     "name": "Indeed"
    }
  ]%}

 {% include "./partials/_header.njk" %}
 
  <main>

    <section class="banner-1" style="background-image: url('img/background.png');">
      <div class="container">
        <h1 class="h1">
          Online recruitment advertising
        </h1> 
      </div>
    </section>

    <section class="phrase phrase-1">
      <div class="container">
        <h2 class="h2">
          The creative agency for employers
        </h2>
        <button class="btn">
          Contact us now
        </button>
      </div>
      <div class="phrase-after phrase-main"></div>
    </section>

    <section class="phrase-description">
      <div class="container">
        <p>
          Whether you are a B2B company looking for leads or a consumer brand doing Ecommerce, you will come to promote with one thing in common: you´re looking to drive commerce. With a forward-thinking integrated approach, we use paid search, SEO, social commerce, creative and email marketing to help businesses of all types grow online.
        </p>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <h2 class="h2">
          What drives us
        </h2>
        <div class="flex">
          {% for feature in features %}
            <div class="feature feature-{{feature.numb}}">
              <h3 class="h3">{{feature.name}}</h3>
              <p>{{feature.text}}</p>
              <a href="#" class="viewmore">View more</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="icons" style="background-image: url('img/bg_icons.png');">
      <div class="container-icons">
        <div class="container">
          <h2 class="h2">
            Dedicated account management
          </h2>
          <p>
            Partner with our expert recruitment marketing strategists to drive maximum impact to your campaigns
          </p>
          <div class="flex__out">
            <div class="flex">
              {% for icon in icons %}
                <div class="icon icon-{{icon.numb}}">
                  <h4 class="h4">{{icon.name}}</h4>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="partners">
      <div class="container">
        <h2 class="h2">
          Put Your Ad Accounts to Work
        </h2>
        <p>
          Increase ROI on search and social. We’ll design your recruitment marketing strategy across:
        </p>
        <div class="flex">
          {% for partner in partners %}
            <a href="#" class="partner partner__{{partner.class}}">
              <img class="partner-image" src="img/partners/{{partner.img}}" alt={{partner.class}}>
              <p>{{partner.name}}</p>
            </a>
          {% endfor %}
          </a>
        </div>
      </div>
    </section>

  </main>
  {% include "./partials/_footer.njk" %}
  {% include "./partials/_headerFixed.njk" %}
  {% include "./partials/_scroll.njk" %}
{% endblock %}