<footer class="footer" style="background-image: url('img/bg_footer.png');">
	<div class="footer__top">
		<div class="container flex">
			<h2 class="h2">
				Ready to take it to the next level?
			</h2>
			<button class="btn">
				Contact us now
			</button>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container flex">
			<div class="footer__logo">
				<a href="#"><img src="img/Logo-white.png" alt="Logo"></a>
				<div class="rights">
					<p>2016 ORA Worldwide All the right reserverd</p>
				</div>
			</div>
			<div class="footer__list">
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Partnerships</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Thanks</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
				</ul>
			</div>
			<div class="footer__contacts">
				<p>info@oraworldwides.com</p>    
				<a href="tel:+351211306637">351 211 306 637</a>
				<p>Schulstrasse 4, 32547 Bad Oyenhausen, GERMANY</p>
				<div class="footer__social">
					<a href="#"><i class="fa icon-facebook"></i></a>
					<a href="#"><i class="fa icon-twitter"></i></a>
					<a href="#"><i class="fa icon-play"></i></a>
					<a href="#"><i class="fa icon-instagram"></i></a>
					<a href="#"><i class="fa icon-linkedin"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>