{% set socials = [
  {"name": "fab fa-facebook-f"},
  {"name": "fab fa-twitter"},
  {"name": "fas fa-play"},
  {"name": "fab fa-instagram"},
  {"name": "fab fa-linkedin-in"}
]%}

{% set list = [
  {"name": "About us"},
  {"name": "Partnerships"},
  {"name": "FAQ"},
  {"name": "Thanks"},
  {"name": "Privacy"},
  {"name": "Terms"}
]%}

<footer class="footer" style="background-image: url('img/background.png');">
	<div class="footer__top">
		<div class="container flex">
			<h2 class="h2">
				Ready to take it to the next level?
			</h2>
			<button class="btn">
				Contact us now
			</button>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container flex">
			<div class="footer__logo">
				<a href="#"><img src="img/Logo-white.png" alt="Logo"></a>
				<div class="rights">
					<p>2016 ORA Worldwide All the right reserverd</p>
				</div>
			</div>
			<div class="footer__list">
				<ul>
					{% for i in list %}
						<li><a href="#">{{i.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="footer__contacts">
				<p>info@oraworldwides.com</p>    
				<a class="footer__contacts-phone" href="tel:+351211306637">351 211 306 637</a>
				<p>Schulstrasse 4, 32547 Bad Oyenhausen, GERMANY</p>
				<div class="footer__social">
					{% for icon in socials %}
						<a href="#"><i class="footer__social-fa {{icon.name}}"></i></a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</footer>