<header class="header">
	<div class="container flex">
	  <div class="header__menu">
	 		<i class="bars fas fa-bars"></i>
	  </div>
		<div class="header__logo">
			<a href="index.html" class="logo">
				<img src="img/Logo.png" alt="Logo">
			</a>
		</div>
		<div class="header__envelope">
			<i class="envelope far fa-envelope"></i>
		</div>
	</div>
	{% include "./_headerNav.njk" %}
	{% include "./_headerContact.njk" %}
	{% include "./_headerThanks.njk" %}
</header>