<div class="header__overlay olnav">
	<div class="header__hidden hdnav"></div>
	<div class="header__nav">
		<div class="btncloseNav"></div>
		<nav class="header__nav-list">
			<ul>
				<li><a href="#">About us</a></li>
				<li><a href="#">Partnerships</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Thanks</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
			</ul>
		</nav>
		<div class="header__nav-social">
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-play"></i></a>
			<a href="#"><i class="icon-instagram"></i></a>
			<a href="#"><i class="icon-linkedin"></i></a>
		</div>
		<div class="header__nav-contacts">
			<p>info@oraworldwides.com</p>    
			<a href="tel:+351211306637">351 211 306 637</a>
			<p>Schulstrasse 4, 32547 Bad Oyenhausen, GERMANY</p>
		</div>
	</div>
</div>