<div class="header__thanks">
	<div class="btncloseCont"></div>
	<div class="oklogo">
		<img src="img/thanks.png" alt="Thanks">
	</div>
	<h5 class="h5">
		Contact us
	</h5>
	<p>
		Thanks for your message, we will contact you soon.
	</p>
</div>