{% set socials = [
  {"name": "fab fa-facebook-f"},
  {"name": "fab fa-twitter"},
  {"name": "fas fa-play"},
  {"name": "fab fa-instagram"},
  {"name": "fab fa-linkedin-in"}
]%}

{% set list = [
  {"name": "About us"},
  {"name": "Partnerships"},
  {"name": "FAQ"},
  {"name": "Thanks"},
  {"name": "Privacy"},
  {"name": "Terms"}
]%}

<div class="header__overlay olnav">
	<div class="header__hidden hdnav"></div>
	<div class="header__nav">
		<div class="btncloseNav"></div>
		<nav class="header__list">
			<ul>
				{% for i in list %}
					<li><a href="#">{{i.name}}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<div class="header__social">
			{% for icon in socials %}
				<a href="#"><i class="header__social-fa {{icon.name}}"></i></a>
			{% endfor %}
		</div>
		<div class="header__contacts">
			<p>info@oraworldwides.com</p>    
			<a href="tel:+351211306637">351 211 306 637</a>
			<p>Schulstrasse 4, 32547 Bad Oyenhausen, GERMANY</p>
		</div>
	</div>
</div>