<div class="fixed-menu">
	<div class="container flex">
	  <div class="header__menu">
	 		<i class="icon-menu bars"></i>
	  </div>
		<div class="header__logo-fixed">
			<a href="index.html" class="logo-fixed">
				<img src="img/logo_header-fixed.png" alt="Logo">
			</a>
		</div>
		<div class="header__envelope">
			<i class="icon-mail envelope"></i>
		</div>
	</div>
</div>